.experience {
  padding:  0px 0px 20px 40px;

  &__title {
  }

  &__items {
  }

  &__item {
    padding:  0px 0px 5px 0px;
    a {
      color: #ee6d0b;
      transition: all 0.3s ease 0s;
      &:hover{
        color: #dd9258
      }
    }
  }
}
